* {
    
    color:mediumseagreen;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url(./alfons-morales-YLSwjSy7stw-unsplash.jpg);
}